{% extends 'base_dash.html' %}
{% block title %}Create Course | Eduverse{% endblock %}
{% block content %}
    <article class="profile-card" aria-labelledby="profile-header">
      <header class="profile-header">
        <div class="avatar" aria-hidden="true">
          {{ user['firstname'][0]|upper }}
        </div>
        <div>
          <h2 id="profile-header">{{ user['firstname'] }} {{ user['lastname'] }}</h2>
          <p>{{ user['role']|capitalize }}</p>
        </div>
      </header>

      <div class="profile-info">
        <p><strong>Email:</strong> {{ user['email'] }}</p>
        <p><strong>Role:</strong> {{ user['role']|capitalize }}</p>
      </div>
    </article>
{% endblock %}
